.roboto{
    font-family: 'Roboto', sans-serif;
}

.backgroundHeader{
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position: center;
}

.headerText{
    font-size: 64px;;
    color: white;
}

.greetingsContent{
    margin-top: 8em;
}

.greetingsContent p{
    font-size: 18px;
}