{% extends "base.html" %}

{% block content %}

        <div class="backgroundHeader" style="background-image: url('{{ url_for('static', filename='images/HeaderImage.jpg') }}');">
            <div class="">
                <h1 class="roboto headerText">Welcome to Brandon's </h1>
                <h1 class="roboto headerText" style="font-size: 84px;">Flask Web Application!</h1>
            </div>
        </div>

        <!-- Some Front Page Content -->

        <div class="greetingsContent container">
            <div class="row">
                <div class="row">
                    
                </div>
                <div class="col">
                    <p class="roboto">
                        Hey everyone! Welcome to my Flask Application. <br><br>
                        I initially started working with Flask when I was trying to learn how to create an API with Python. <br><br>
                        That later led me to find out all the things you can do with Flask, and thus, here is a demo application. With this app, there are API calls you can make, 
                        add a message for others to see for the week (please make it appropriate) and other cool things I will add in the future! Thanks for stopping by :)
                    </p>
                </div>
            </div>

        </div>




{% endblock %}